{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Jumbotron -->
    <div class="jumbotron jumbotron-fluid">
    </div>

<!-- Title -->
    <h1 class= "text-center title"><strong>Latest Competitions</strong></h1>
        <h4 class= "text-center text-all-comp">Check out the latest items up for grabs</h4 >

<!-- Competitions Cards -->
    <div class="container">
		<div class="text-center row mb-5 mt-5">
        {% for comp in comps|slice:":3" %}
			<div class="col-lg-4 col-md-4 col-sm-6">
                <div class="card mb-4">
                    <a href="{% url 'comp_info' comp.id %}">
                        <img src="{{ comp.image_url }}" class="card-img-top" alt="{{ comp.name }}">
                    </a>
					    <div class="card-body">
					        <h5 class="card-title">{{ comp.name }}</h5>
					        <p class="card-text">€ {{ comp.price }}</p> 
					    </div>
				</div>
        </div>
        {% endfor %}
    </div>
    </div>

{% endblock %} 