{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Jumbotron -->
    <div class="jumbotron jumbotron-fluid">
    </div>

<!-- Title -->
    <h1 class= "text-center title">Latest Competitions</h1>
        <p class= "text-center">Check out the latest items up for grabs</p>

<!-- Competitions Cards -->
    <div class="container">
		<div class="text-center row mb-5 mt-5">
			<div class="col-lg-4 col-md-4 col-sm-6">
                <div class="card mb-4">
					<img src="#" class="card-img-top" alt="Image Name">
					    <div class="card-body">
					        <h5 class="card-title">Title here</h5>
					        <p class="card-text">Price here</p>
					    </div>
				</div>
        </div>
    </div>
    </div>

{% endblock %} 