/* FONT FAMILY */
body {
    font-family: 'Ubuntu', sans-serif;
}

/* NAVBAR */
.navbar {
background: #f1f0ee;
}

.brand-logo {
position: absolute;
top: 10px;
left: 20px;
width: 100px;
height: 100px;
z-index: 99;
}

.navbar-nav a {
    color :  black;
}

.navbar-nav a:hover{
  color: red;
}

.navbar-nav i {
    color : grey;
}

.navbar-toggler {
    border-color: red;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(225, 0, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* JUMBOTRON */
.jumbotron {
 background-image: url('/media/new-bg.png');
 background-size: cover;
 height: 550px;
}

/* COMPETITION CARDS */
a:link {
  text-decoration: none;
}

.title-all-comp {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100px;
    color: white;
}

.text-all-comp{
    color: rgb(190, 45, 45);
    font-weight: bold;
    margin-left: 3px;
    margin-right: 3px;
}

.card-body {
    border: 1px solid rgb(240, 230, 230);
    border-radius: 3px;
    background-color:rgba(240, 240, 240, 0.904);
    height: 110px;
    color: black;
    padding: 5px;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 15px grey;
}

.card-title {
    height: 60px;
    margin: 0px;
}

.card-text {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* INDIVIDUAL COMPETITION */
.card-img-comp {
  width: 100%;
  max-height: 50vw;
}

.tab-content {
    background-color: rgba(240, 240, 240, 0.904);
}

.nav-tabs .nav-link.active {
    color:red;
}

.nav-tabs a {
    color:#495057;
}

.nav-tabs a:hover {
    color:rgb(190, 45, 45);
}

.comp-title {
    color:rgb(190, 45, 45);
}


/* CART */
.bg-grey {
    background-color: rgba(240, 240, 240, 0.904);
}

.total-colour {
    color:rgb(190, 45, 45);
}

.trash-colour {
    color:red;
}

.trash-colour:hover {
    color:rgb(190, 45, 45);
}

/* TOASTS */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 9999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* HOW IT WORKS */
.worksContainer{
    background-color:rgba(240, 240, 240, 0.904);
    padding: 20px;
    margin: 20px 20px 50px 20px;
    border-radius: 5px;
    box-shadow: 2px 5px 5px grey;
}


.tile-number {
    text-align: center;
    background-color:#343a40;
    padding-top:5px;
    width: 50px;
    height: 50px;
    color: white;
    font-size: 25px;
    border-radius: 5px;
    box-shadow: 1px 2px 2px grey;
}

.tile-h4 {
    margin-top: 10px;
    text-align: center;
    color: rgb(190, 45, 45);
    font-weight: bold;  
}

.tile-p {
    text-align: center;   
}

/* MEDIA QUERIES FOR CARD SIZING */

/* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {
    .card-img-top {
        height: 19vw;
    }
  }
/* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .card-img-top {
        height: 16vw;
    }
  }
/* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    .card-img-top {
        height: 15vw;
    }
  }

/* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {
    .card-img-comp {
        height: 50vw;
    }
  }
/* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .card-img-comp {
        height: 50vw;
    }
  }
/* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    .card-img-comp {
        height: 25vw;
    }
  }
