{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Title -->
    <h1 class= "text-center title-all-comp">All Competitions</h1>
        <h3 class= "text-center text-all-comp">Check out all our sneakers up for grabs</h3>

<!-- Competitions Cards -->
    <div class="container">
		<div class="text-center row mb-5 mt-5">
        {% for comp in comps %}
			<div class="col-lg-4 col-md-4 col-sm-6">
                <div class="card mb-4 text-center">
					<a href="{% url 'comp_info' comp.id %}">
                        <img src="{{ comp.image.url }}" class="card-img-top" alt="{{ comp.name }}">
                    
					    <div class="card-body">
					        <h5 class="card-title">{{ comp.name }}</h5>
					        <p class="card-text"> Entry € <strong>{{ comp.price }}</strong></p> 
					    </div>
                        </a>
				</div>
        </div>
        {% endfor %}
    </div>
    </div>

{% endblock %} 