{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1 class="text-center title-all-comp">{% trans "Sign Up" %}</h1>

<div class="container mt-5">
	<div class="row">
		<div class="col-md-12">

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  
  
    <div class="row">
    <div class="col-md-6 mb-3">
    <label for="id_email">E-mail:</label>
    <input type="email" class="form-control" name="email" placeholder="" autofocus="autofocus" required id="id_email">
    <div class="invalid-feedback">Please enter valid E-maill address</div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-6 mb-3">
    <label for="id_email2">E-mail (again):</label>
    <input type="email" class="form-control" name="email2" placeholder="" required id="id_email2">
    <div class="invalid-feedback">Please enter valid E-maill address</div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-6 mb-3">
    <label for="id_username">Username:</label>
    <input type="text" class="form-control" name="username" placeholder="" minlength="4" maxlength="150" required id="id_username">
    <div class="valid-feedback">All good!</div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-6 mb-3">
    <label for="id_password1">Password:</label>
    <input type="password" class="form-control" name="password1" placeholder="" required id="id_password1">
    <div class="invalid-feedback">Please enter valid password</div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-6 mb-3">
    <label for="id_password2">Password (again):</label>
    <input type="password" class="form-control" name="password2" placeholder="" required id="id_password2">
    <div class="invalid-feedback">Please enter valid password</div>
    </div>
    </div>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-dark rounded-pill py-2 mb-4" type="submit">{% trans "Sign Up" %}</button>
</form>
</div>
</div>
</div>
{% endblock %}