{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Title -->
<h1 class="text-center title-all-comp">Contact Us</h1>

<div class="container mt-5">
	<div class="row">
		<div class="col-md-6">
			<div class="bg-grey rounded p-3 px-3 mb-3 text-uppercase"><strong>Your Message</strong>
			</div>
        </div>
    </div>
			<form action="{% url 'contact' %}" method="POST">
				{% csrf_token %}
				<div class="row">
					<div class="col-md-6 mb-3">
						<label for="name">Name</label>
						<input type="text" class="form-control" name="name" id="name" placeholder="" value="" required>
                    </div>
                </div>
					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="email">Email</label>
							<input type="email" class="form-control" name="email" id="email" required>
                        </div>
                    </div>
					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="subject">Subject</label>
							<input type="text" class="form-control" name="subject" id="subject" placeholder="" value="">
                        </div>
					</div>
					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="message">Message</label>
							<textarea class="form-control" name="message" id="message" rows="5" required></textarea>
						</div>
					</div>
						<button class="btn btn-dark rounded-pill py-2 mb-4" type="submit">Send Message</button>
			</form>
	</div>


	{% endblock %}